<div class="d-flex justify-content-start text-align-items-center mt-5 mb-4 ml-4 fw-b">
  <h3>My Favorite Recipes <i class="fas fa-heart" style="color: #f14668;"></i></h3>
</div>
<div class="container">
  <% @likes.each do |like| %>
  <% end %>
</div>
