<section class="section">
  <div class="columns is-centered">
    <h1 class="mt-4" style="font-family: cursive">recipegram</h1>
    <%= link_to "Log In", new_user_session_path, class: "columns is-centered" %>
  </div>
</section>
