<section class="section">
  <div class="columns is-centered">
    <h1 class="mt-4" style="font-family: cursive">recipegram</h1>
  </div>
  <div class="home-buttons">
    <div class="columns is-centered mt-5">
      <%= link_to "Log In", new_user_session_path, style: "text-decoration: none;", class: "button is-success home-button is-fullwidth" %>
    </div>
    <div class="columns is-centered mt-5">
      <%= link_to "Sign Up", new_user_registration_path, style: "text-decoration: none;", class: "button is-success home-button is-fullwidth" %>
    </div>
  </div>
  <br>
  <div class="columns is-centered">
    <div class="home-image"></div>
  </div>
</section>
