// ==  user-index page ====================

.button {
  text-decoration: none;
}

.item-buttons {
  display: flex;
  justify-content: center;
}

.item-button {
  margin: auto 5px;
}

// == user-show page ====================

.user-show-edit-button a {
  margin-top: 20px;
  color: white;
  background-color: #999999;
  font-size: 14px;
  text-decoration: none !important ;

  &:hover {
    background-color: hsl(0, 0%, 33%);
    color: white;
  }
}

// == user edit ================
.user-edit-button {
  margin-top: 20px;
  color: white;
  background-color: #999999;
  font-size: 14px;
  text-decoration: none !important ;
  &:hover {
    background-color: hsl(0, 0%, 33%);
    color: white;
  }
}
