// ==  user-index page ====================

.button {
  text-decoration: none;
}

.item-buttons {
  display: flex;
  justify-content: center;
}

.item-button {
  margin: auto 5px;
}

// == user-show page ====================

.user-show-edit-button a {
  margin-top: 20px;
  color: white;
  background-color: #999999;
  font-size: 14px;
  text-decoration: none !important ;
  margin-right: 5px;
  &:hover {
    background-color: hsl(0, 0%, 33%);
    color: white;
  }
}

.user-recipe-button p {
  margin-bottom: 0;
  padding: 2px 8px;

}

// == user edit ================
.user-edit-button, .recipe-button {
  margin-top: 20px;
  color: white;
  background-color: #999999;
  font-size: 14px;
  text-decoration: none !important ;
  &:hover {
    background-color: hsl(0, 0%, 33%);
    color: white;
  }
}

.user-edit-container {
  margin: auto 200px;
}

.user-edit-container h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-inputs .user-edit-button {
  margin-top: 60px;
}

// == recipe edit ===========================
.submit {
  margin-top: 20px;
  color: white;
  background-color: #999999;
  font-size: 14px;
  text-decoration: none !important ;
  &:hover {
    background-color: hsl(0, 0%, 33%);
    color: white;
  }
}

// === home ==============================
.home-buttons {
  margin: auto 30%;
}

.home-button {
  padding: 1.2rem 40%;
}
