// == user edit ================
.input-img {
  border: none;
  background-color: white;

}

.form-group {
  // -> .form-inputs > .input
  margin-bottom: 10px;
}
.form-control-file .file {
  color: aqua;
}

// ==== [recipe edit] ================================

.recipe-edit-form {
  text-align: center;
  margin: auto 20%;
}
