.navbar-item {
  text-decoration: none;
  color: #303030 !important ;
  padding: 0;
}
.navbar-item :hover {
  background-color:rgb(238, 42, 75);
  padding: 0;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color:rgb(238, 42, 75);
  padding: 15px;
}

.item-nav-recipegram h3 {
  margin-bottom: 0;
}

// Smallest device
@media (min-width: 100px) and (max-width: 529px) {
  .navbar-container {
    display: block;
  }

  .item-buttons {
    display: block;
    margin-top: 20px;
  }

  .item-button {
    margin: 3px auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 530px) {
  .navbar-container {
    display: block;
  }
  .item-buttons {
    display: block;
    margin-top: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 679px) {
  .navbar-container {
    display: flex;
  }
  .item-buttons {
    display: block;
    margin-top: 0;
  }
}
