/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "bootstrap";
// @import "font-awesome";
@import "font-awesome-sprockets";
@import "font-awesome";
//  CSS partial
@import "components/index";

// config
@import "config/colors";
@import "config/fontfamily";

.notification:not(:last-child){
  margin-bottom: 0;
}

.home-image {
  background-image: url(meal.png);
  width: 100%;
  margin: auto;
  background-size: contain;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  // following 2 is for no change the blank space
  height: 0;
  padding-top: 75%;
}

.home-recipe {
  margin: auto 30%;
}

// for flash message
p {
  margin-bottom: 0;
}
